.clk{
    position: relative;
    top:5em;
    left:25em;
background-image: url('c1e55bedf5f1c5a628e1ac97a9eaf126.png');    
border: solid 1px black;
    height: 32vw;
    width: 40vw;
    background-repeat: no-repeat;
    background-size:100%;
    
    
}

#cllk, #min, #hour, #second{
    position: absolute;
    transform-origin: bottom;
}


#hour{
    
    background-color:#000000;
    height:6vw;
    width:3px;
    left:19.95vw;
    top:10.5vw
}

#second{
    background-color:#000000;
    height:10.65vw;
    width:1px;
    left:20.1vw;
    top:6vw;
}

#min
{
    background-color:#000000;
    height:8.2vw;
    width:2px;
    left:20vw;
    top:8.4vw;
}


.digital{
    position: relative;
    background-color:rgb(0, 0, 0);
    width:59vw;
    height:15vw;
    left:20vw;
    top:2vw;
    border-top:solid 1vw black;
    border-bottom:solid 1vw black;
    
}

.hour1{
    position:absolute;
    width:10vw;
    height:15vw;
    background-color:black;
    left:1vw;
}
.hour0{
    position:absolute;
    width:10vw;
    height:15vw;
    background-color:#000000;
    left:10vw;
}
.min1{
     position:absolute;
    width:10vw;
    height:15vw;
    background-color:black;
    left:21vw;
}

.min0{
     position:absolute;
    width:10vw;
    height:15vw;
    background-color:#000000;
    left:30vw;
}

.sec1{
    position:absolute;
    width:10vw;
    height:15vw;
    background-color:#000000;
    left:41vw;
}

.sec0{
    position:absolute;
    width:9vw;
    height:15vw;
    background-color:#000000;
    left:50vw;
    
}

.a{
    position:absolute;
    width:8vw;
    height:1vw;
    background-color:#e58484;
    
}

.d{
    position:absolute;
    width:8vw;
    height:1vw;
    background-color:#f48787;
    top:7vw;
    left:0vw;
    
}

.g{
    
    position:absolute;
    width:8vw;
    height:1vw;
    background-color:#f48787;
    top:14vw;
    left:0vw;
}

.b{
     position:absolute;
    height:8vw;
    width:1vw;
    background-color:#000000;
   
    left:7vw;
    
}

.c{
     position:absolute;
    height:8vw;
    width:1vw;
    background-color:#f48787;
    top:7vw;
    left:7vw;
    
}

.e{
     position:absolute;
    height:8vw;
    width:1vw;
    background-color:#f48787;
    top:7vw;
    left:0vw;
}

.f{
     position:absolute;
    height:8vw;
    width:1vw;
    background-color:#f48787;
    top:0vw;
    left:0vw;
}

.blok1a{
    position:absolute;
    height:1vw;
    width:1vw;
    background-color:red;
    top:3.5vw;
    left:19vw;
    
}

.blok2a{
    position:absolute;
    height:1vw;
    width:1vw;
    background-color:red;
    top:10.5vw;
    left:19vw;
    
}

.blok1b{
    position:absolute;
    height:1vw;
    width:1vw;
    background-color:red;
    top:3.5vw;
    left:39vw;
    
}

.blok2b{
    position:absolute;
    height:1vw;
    width:1vw;
    background-color:rgb(255, 0, 0);
    top:10.5vw;
    left:39vw;
    
}


.text{
    position: relative;
    border: double blue 10px;
    border-collapse: collapse;
    height:5vw;
}

.texts{
    padding-left: 177px;
    padding-top: 44px;
    font-size: 54px;
}

